h1 {
    text-align: center;
    text-decoration: underline;
}

/* 1. Student Grade Generator */

#form {
    height: 220px;
    width: 300px;
    background-color: #000000;
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -17%);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.124);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.804);
    padding: 40px 45px;
}

.img1,
h4.grad {
    display: inline-block;
    vertical-align: middle;

}

.info1 {
    height: 220px;
    width: 440px;
    background-color: #ffffff;
    position: absolute;
    top: 35%;
    left: 60%;
    border-radius: 10px;
    transform: translate(-50%, -17%);
}



h1.stgrade {
    margin-top: -15px;
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: 24px;

}

.label {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);

}


#grading {
    padding: 10px;
    text-align: center;
    font-size: 28px;
    color: rgb(0, 255, 251);
    font-weight: 700;
}

button.grade {
    display: inline-block;
    border: 10px;
    margin-left: 75px;
    margin-bottom: 20px;
    width: 50%;
    height: 24%;
    background-color: #ffffff;
    color: #080710;
    padding: 8px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.579);
}

button.grade:hover {
    border: 2px solid #000000;
}

/* 2. Speed Detector */

div.circle {
    background-image: url(./images/speed.png);
    background-repeat: no-repeat;
    background-size: 100%, contain;
    position: absolute;
    height: 380px;
    width: 380px;
    left: 18%;
    top: 108%;
    transform: translate(-50%, 10px);
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.804);
}

.circle:hover {
    box-shadow: 0 17px 50px 0 rgba(108, 144, 90, 0.847);
}

.img2,
h4.sped {
    display: inline-block;
    vertical-align: middle;

}

.info2 {
    height: 220px;
    width: 440px;
    background-color: #ffffff;
    position: absolute;
    top: 126%;
    left: 60%;
    border-radius: 10px;
    transform: translate(-50%, -17%);
}



input#inputNumber {
    text-align: center;
    position: absolute;
    height: 30px;
    width: 57%;
    left: 20%;
    top: 68%;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: rgb(243, 68, 62);
    margin-bottom: 4%;
    padding: 1%;
    border-radius: 8px;
}

button.speed {
    position: absolute;
    height: 40px;
    width: 44%;
    left: 28%;
    top: 82%;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: black;
    color: #fff;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    background-color: #a2d465c5;
    border-radius: 8px;
}

button:hover {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

/* 3. Net Salary Calculator */